@CHARSET "UTF-8";

container {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
}
#container {
    background:#668163; 
    margin: 0 auto; /* centrar o layout horizontalmente */
	width: 95%; /* vamos utilizar auto ou qualquer percentagem, para garantir que utilizamos o tamanho da janela do browser automaticamente */
	min-width: 760px; /* definimos uma largura mínima para o nosso container */
	max-width: 90em; /* é prática comum utilizar valores em, de modo a que a largura do texto se mantenha constante às várias resoluções do ecrã*/
	min-height: 400px; 
	border-width: 5px;
    border-style:solid;
    border-color: #FFF;   
}
#header {
	height: 45px;
    padding:10px;
	background:#c35645;
	display: block;
}
#menu {
    float:left;
    display: block;
	width:200px;
	min-height: 400px;
	padding:10px;
	border-right: 1px solid #FFF;
}

#content {
	margin: 5px 0px 5px 5px;
	min-width: 400px;
	min-height: 400px;
    width: auto;   
    vertical-align: text-top;
    padding-top: 5px;
    padding-left: 3px;
    text-align: justify;
    display: block;
}


#footer {
    clear:both;
    background:#c35645;
	padding:10px;
	display: block;
}

#logo {
	float: left;
	width: 165px;
	vertical-align: middle;
}

#login {
	float: right;
	text-align: left;
	vertical-align: middle;
}

#toolbar{
	padding: 5px;
	min-width: 100px;
	height: 30px;
	text-align: center;
}

#tab{
	width: 95%; 
	min-width: 400px;
	max-width: 90em; 
	min-height: 400px;
}

h1 { font-size:22px; line-height:18px; margin-bottom:10px; }
h2 { font-size:16px; line-height:18px; margin-bottom:10px;}
h3 { font-size:14px; line-height:18px; margin-bottom:5px;}
